reference_files/*.pdf
reference_files/*.sas
*.csv
*.R
*.json
*.code-workspace
*.ipynb
*.qgz
*.zip
*.xlsx
*.sas7bdat
*.txt
*.sql
*.pkl
*.log
*.lst
*.bin
*.pyc
*.zip
*.png
documentation/resources/Thumbs.db
